* {
    font-family: "Century Gothic", sans-serif;
}
body {
    background-color: beige;
    font-size: 140%;
}
header, footer {
    text-align: center;
    padding: 20px;
}
section, article {
    width: 50%;
    height: 600px;
}
button {
    background-color: tan;
    border-radius: 20px;
    padding: 10px;
    font-size: 150%;
}
.obraz {
    width: 40%;
    padding: 20px;
    border: 1px solid tan;
}
.miniatury {
    width: 15%;
}
.okno {
    background-color: black, 0.7;
    width: 80%;
    position: fixed;
    left: 0;
    top: 0;
}
.obrazOkno {
    margin: auto;
    display: block;
}
.zamknij {
    position: relative;
    top: 15px;
    right: 35px;
    color: beige;
    font-style: oblique;
    font-size: 40px;
}
.zamknij:hover {
    
}
main {
    display: flex;
}