#left {
    height: 600px;
    width: 40%;
    background-color: #FF6633;
}
#right {
    width: 60%;
    height: 600px;
    background-color: #FF9933;
}
footer {
    background-color: #993300;
    color: white;
    font-size: 150%;
    text-align: end;
}
table, td {
    margin: 20px;
    padding: 30px;
    border: 2px solid brown;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
img {
    width: 450px;
    height: 350px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
#foot {
    margin-top: 0px;
}
@media (max-width: 400px) {
    #left, #right {
        width: 100%;
    }
    footer {
        display: none;
    }
}